<!-- Admin Sign In container -->
<div id="adminSignIn" class="admin">
    <div class="form_box eight wide column">
        <h2 class='form_label'>Sign in to access admin dashboard</h2>

        <form class='signup_form'>
            <label class='form_label' for='adminSignInEmail'>Email</label>
            <br>
            <input class='form_input' type='email' id='adminSignInEmail' required>
            <br><br>
            <label class='form_label' for='adminSignInPassword'>Password</label>
            <br>
            <input class='form_input' type='password' id='adminSignInPassword' required>
            <br><br>
            <input type='submit' value='Sign In' onclick='adminSignIn()'>
        </form>
    </div>
</div>

<div class='admin-dashboard'>
    <h1>Booked Timeslots</h1>

    <table class='admin-table'>
        <thead>
        <tr>
            <th class='admin-th'>Appointment ID</th>
            <th class='admin-th'>Date</th>
            <th class='admin-th'>Start Time</th>
            <th class='admin-th'>End Time</th>
            <th class='admin-th'>Make</th>
            <th class='admin-th'>Model</th>
            <th class='admin-th'>Year</th>
            <th class='admin-th'>Price Offer</th>
            <th class='admin-th'>Owner</th>
            <th class='admin-th'>Phone</th>
        </tr>
        </thead>
        <tbody>
        <% bookedTimeslots.forEach(timeslot => { %>
            <tr>
                <td class='admin-td'><%= timeslot.id %></td>
                <td class='admin-td'><%= timeslot.date %></td>
                <td class='admin-td'><%= timeslot.startTime %></td>
                <td class='admin-td'><%= timeslot.endTime %></td>
                <td class='admin-td'><%= timeslot.offer.vehicle.make %></td>
                <td class='admin-td'><%= timeslot.offer.vehicle.model %></td>
                <td class='admin-td'><%= timeslot.offer.vehicle.year %></td>
                <td class='admin-td'><%= `$${timeslot.offer.price}` %></td>
                <td class='admin-td'><%= timeslot.offer.user.email %></td>
                <td class='admin-td'><%= timeslot.offer.user.phoneNumber ? `${timeslot.offer.user.phoneNumber}` : 'N/A' %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
